    <div class="footer">
      <div class="payment">
        <h3>PAYMENT METHODS WE ACCEPT</h3>
        <div class="methods" style="margin-top: 1rem;">
          <img src="/assets/imgs/paypal.png" style="max-width: 7rem; height: auto;"></img>
          <img src="/assets/imgs/paysafe.png" style="max-width: 7rem; height: auto;"></img>
        </div>
      </div>

      <div class="support">
        <h3>SUPPORT</h3>
        <div class="supporttext" align="center" style="margin: 1rem;">
          <p align="left">If you have any question related to the store or<br>need support, please contact us through our<br>support page and we will reply as soon as possible :)</p>
          <a href="/support">Support Page</a>
        </div>
      </div>
    </div>

    <div class="footerinfo">
      <div class="disclaimer">
        <h3>DISCLAIMER</h3>
        <div class="supporttext" align="center" style="margin: 1rem;">
          <p align="left">[Your Server] is in no way affiliated with Mojang, AB. Nor should it be considered a company endorsed by Mojang, AB.
                      <br>For more information, support or a purchase history please contact us through our support page.
                      <br>Minecraft ®/TM & © 2009-2020 Mojang / Notch
        </div>
      </div>

      <div class="seperator">
        <hr>
      </div>

      <div class="details">
        <div class="ip">
          <h4>Server IP</h4>
          <p>yourserver.ip</p>
        </div>

        <div class="credit">
          <a href="https://github.com/LielAmar">Minestore System was built by LielAmar</a>
        </div>

        <div class="copyright">
          <p>© Your Server. 2020</p>
        </div>
      </div>
    </div>
  </body>
</html>
