    <div class="footer">
      <div class="payment">
        <h3>PAYMENT METHODS WE TAKE</h3>
        <div class="methods" style="margin-top: 1rem;">
          <img src="/assets/imgs/paypal.png" style="max-width: 7rem; height: auto;"></img>
        </div>
      </div>

      <div class="support">
        <h3>SUPPORT</h3>
        <div class="supporttext" align="center" style="margin: 1rem;">
          <p align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      <br>Praesent lacinia convallis mi ac sodales.
                      <br>Proin sit amet convallis lacus, at varius ante.
                      <br>Cras porttitor velit ante, sit amet scelerisque orci imperdiet eu.
          <a href="/support">Support Page</a>
        </div>
      </div>
    </div>

    <div class="footerinfo">
      <div class="disclaimer">
        <h3>DISCLAIMER</h3>
        <div class="supporttext" align="center" style="margin: 1rem;">
          <p align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia convallis mi ac sodales. Proin sit amet convallis lacus, at varius ante.
                <br>Cras porttitor velit ante, sit amet scelerisque orci imperdiet eu. Suspendisse ac placerat purus, nec hendrerit arcu.
                <br>Curabitur ut eleifend turpis, dictum scelerisque ligula. Donec et placerat urna.
                <br>Donec a mi vitae elit sagittis aliquet. Duis ac metus at nulla eleifend pharetra. Aliquam sed semper nunc, non lobortis orci.
        </div>
      </div>

      <div class="seperator">
        <hr>
      </div>

      <div class="details">
        <div class="ip">
          <h4>Server IP</h4>
          <p>yourserver.ip</p>
        </div>

        <div class="credit">
          <a href="https://github.com/LielAmar">Minestore System was built by LielAmar</a>
        </div>

        <div class="copyright">
          <p>© Your Server. 2020</p>
        </div>
      </div>
    </div>
  </body>
</html>
