<!DOCTYPE html>
<html lang="en">
<head>
  <title>Store</title>

  <meta charset="utf-8">
  <meta name="description" content="<Your Server Name>'s Store'">
  <meta name="author" content="LielAmar">

  <link rel="icon" type="image/png" sizes="192x192" href="/assets/imgs/logo.png">
  <link rel="manifest" href="/manifest.json">

  <link rel="stylesheet" href="/css/styles.css?v=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant">

  <script src="/js/scripts.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
  <body>
    <div class="logo" align="center">
      <a href="/"><img src="/assets/imgs/logo.png"></a>
    </div>

    <div class="navbar">
      <nav>
        <ul>
          <li><a href="/category/ranks"><i class="fas fa-ticket-alt"></i>Ranks</a></li>
          <li><a href="/category/coins"><i class="fas fa-coins"></i>Coins</a></li>
          <li><a href="/category/pets"><i class="fas fa-paw"></i>Pets</a></li>
        </ul>
      </nad>
    </div>
