<%- include('../partials/header.ejs') %>

<div class="container">
  <div class="banner">
    <img src="/assets/imgs/supportbanner.png" style="width: 100%; height: auto;">
  </div>

  <br>

  <div class="maincontent">
    <h3>
      How to contact us?
    </h3>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia convallis mi ac sodales. Proin sit amet convallis lacus, at varius ante.
      <br>Cras porttitor velit ante, sit amet scelerisque orci imperdiet eu. Suspendisse ac placerat purus, nec hendrerit arcu.
      <br>Curabitur ut eleifend turpis, dictum scelerisque ligula. Donec et placerat urna.
      <br>Donec a mi vitae elit sagittis aliquet. Duis ac metus at nulla eleifend pharetra. Aliquam sed semper nunc, non lobortis orci.
    </p>
    <p>
      <br>Payments are handled and secured by PayPal and Payment Wall.
    </p>
  </div>

  <br><br>

  <div class="toolbox" align="center">
    <div class="box" align="center">
      <a>
        email@address.extension
      </a>
    </div>
  </div>

  <br><br>

</div>

<%- include('../partials/footer.ejs') %>
